---
title: The End of the World
author: rmjordas
date: '2012-12-21'
image: ./hero.jpg
tags:
  - cute
  - scary
---

The **2012 phenomenon** was a range of eschatological beliefs that cataclysmic
or otherwise transformative events would occur on or around 21 December 2012
(Source: [Wikipedia](https://en.wikipedia.org/wiki/2012_phenomenon)).
